

.modal {
  width: auto;
  height: auto;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; 
  overflow: scroll !important;
}

.Graphs {
  width: auto;
  height: auto;
  max-width: 90vw !important;
  display: flex;
  flex-direction: row; 
  box-sizing: border-box; 
  align-items: start; 
  gap: 20px; 
}

.SE {
  width: auto;
  height: auto;
  max-width: 90vw !important;
  display: flex;
  flex-direction: row; 
  box-sizing: border-box; 
  align-items: start; 
}



.graph-container {
  max-width: 100%; 
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  margin: 10px; 
  flex: 1 1 auto; 
}


.text {

  align-self: flex-start;
  flex: 0 0 auto;
}

.text-container {
  display: block; 
}


.popups{
  width: auto;
  height: auto;
  max-width: 90vw;

}
