

.modal {
  width: auto;
  height: auto;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* Ensures padding doesn't add to the width */
  overflow: scroll !important;
}
